:root {
  font-family: "M PLUS Rounded 1c", serif;
  font-weight: 400;
  font-style: normal;
  color: white;
}

html,
body {
  width: 100%; /* 画面幅に合わせる */
  height: 100vh; /* 画面高さに合わせる */
  min-height: 100%;
  margin: 0; /* デフォルトの余白を削除 */
  padding: 0; /* 必要ならば */
}

#app {
  /* height: 100vh; */
  position: relative;
  text-align: center;
}
