/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: red;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

:root {
  font-family: "ADLaM Display", serif;
  font-weight: 400;
  font-style: normal;
  color: white;
}

html,
body {
  width: 100%; /* 画面幅に合わせる */
  height: 100%; /* 画面高さに合わせる */
  margin: 0; /* デフォルトの余白を削除 */
  padding: 0; /* 必要ならば */
}

#app {
  height: 100vh;
  position: relative;
  text-align: center;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
